@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kate Ford Ledger</h1>
    <h3>C# Sample Code For AltSource, Inc.</h3>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
</div>